.ai {
    height: 300px;
    background-color: $fourthColor;
}

@media (min-width: 600px) {
    .ai {
        grid-area: ai;

    }
}

.title-ai {
    margin: 0;
    padding-left: 20px;
    padding-top: 10px;
    max-width: 70%;
}

@media (min-width: 600px) {
    .title-ai {
        font-size: 1.5em;
    }
}

.img-ai {
    width: 60%;
    padding-left: 20px;
    padding-top: 10px;
}

@media (min-width: 600px) {
    .img-ai {
        width: 70%;
        padding: 30px;
    }
}