.posting-schedule {
    border-radius: 5px;
    height: 175px;
    background-color: $fourthColor;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media (min-width: 600px) {
    .posting-schedule {
        grid-area: posting-schedule;
        height: 100%;
        align-items: center;
    }
}

.img-posting {
    width: 50%;
    padding-left: 10px;
}

@media (min-width: 600px) {
    .img-posting {
        width: 70%;
        height: 50%;
    }
}

.title-posting {
    padding-left: 10px;
    padding-bottom: 10px;
    max-width: 80%;
    text-align: center;
}

@media (min-width: 600px) {
    .title-posting {
        font-weight: 700;
        font-size: 0.9em;
    }
}