$firstColor: hsl(254, 88%, 90%);
$twoColor: hsl(256, 67%, 59%);
$thirdColor: hsl(31, 66%, 93%);
$fourthColor: hsl(39, 100%, 71%);
$fiveColor: hsl(0, 0%, 100%);
$sixColor: hsl(0, 0%, 7%);
$fontSParagraph: 18px;
$FontFamily: "DM Sans", Serif;
